<?xml version="1.0" encoding="UTF-8"?>
<configurations>
	<config>
		<url>https://apps.availity.com/availity/web/public.elegant.login?p:lm=1695867051</url>
<username>JEllison042</username>
<password>Google123@710</password>
<state>Texas</state>
<excelName>Availity Payer Batch - 11.xlsx</excelName>
<excelNameBackup>Availity_Backup-Codes 11.xlsx</excelNameBackup>
	</config>
</configurations>