<?xml version="1.0" encoding="UTF-8"?>
<configurations>
	<config>
		<url>https://apps.availity.com/availity/web/public.elegant.login?p:lm=1695867051</url>
<username>jmartin245</username>
<password>Medcare$2025</password>
<state>Michigan</state>
<npi>BCBS MICHIGAN AND BLUE CARE NETWORK</npi>
<excelName>BCBS MI - Availity Payer.xlsx</excelName>
	</config>
</configurations>
